USE [GlobalSIS_AG01]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_Reporte_Factorizacion_Historica]
    @FechaInicio DATETIME, @FechaFinal DATETIME, @Ramos INT, @Sucursal INT
AS
BEGIN
	
    SET NOCOUNT ON;



	DECLARE @p_FechaInicio DATETIME, @p_FechaFinal DATETIME, @p_Ramos INT, @p_Sucursal INT

	SET @p_FechaInicio = @FechaInicio;
	SET @p_FechaFinal = @FechaFinal;
	SET @p_Ramos = @Ramos;
	SET @p_Sucursal = @Sucursal;

	
	
    SELECT  RTRIM(rec.cnpoliza) AS [Poliza], rec.cramo AS Ramo, RTRIM(mpl.xplan) AS [Plan],(SELECT TOP 1 format(fnacimien,'dd-MM-yyyy') FROM maentes WHERE cci_rif=rec.ctenedor) AS FechaNacimiento
 ,RTRIM((SELECT xcliente FROM dbo.maentes WHERE cci_rif=rec.ctenedor)) AS Cliente, rec.crecibo AS Recibo,
    (CONVERT(NVARCHAR(10), rec.fingreso, 103) + ' ' + CONVERT(NVARCHAR(5), rec.fingreso, 8)) [Fecha Ingreso], 
	(CONVERT(NVARCHAR(10), rec.femision, 103)) [Fecha Emision], ISNULL ((SELECT RTRIM(xcliente) xclie FROM dbo.SEGURIDAD WHERE  cci_rif=pol.creferido),
    (SELECT RTRIM(xcliente) xcli FROM dbo.maentes WHERE  cci_rif=pol.creferido)) AS [Referido por],
                    --(SELECT xcliente FROM SEGURIDAD WHERE cci_rif = rec.cusuario) AS 'Usuario',
     RTRIM((SELECT RTRIM(xcliente) xcl FROM dbo.maentes WHERE  cci_rif=rec.cusuario)) AS [Usuario], CONVERT (VARCHAR(10), rec.fdesde, 103) AS [Desde], CONVERT (VARCHAR(10), rec.fhasta, 103) AS [Hasta],
     RTRIM(TIPO.xdescripcion_l) AS [Tipo], RTRIM((SELECT xdescripcion_l FROM dbo.macodigos WHERE  xsinonimo='recursopago' AND RTRIM (rec.cforcob)=RTRIM (macodigos.ccodigo))) AS recursopago, 
	 RTRIM((SELECT xdescripcion_l FROM dbo.macodigos WHERE  xsinonimo='ifrecuencia' AND rec.ifrecuencia=macodigos.ccodigo)) AS [Forma pago],
     dbo.montocoaseguro(rec.cnpoliza,rec.fanopol,rec.fmespol,rec.msuma) AS [Suma Aseg], (CASE RTRIM (CAST(TIPO.ccodigo AS CHAR(50))) WHEN 'M' THEN 0 WHEN 'C' THEN 0 ELSE dbo.montocoaseguro(rec.cnpoliza,rec.fanopol,rec.fmespol,rec.motrosrec) END) Recargos,
    (CASE RTRIM (CAST(TIPO.ccodigo AS CHAR(50))) WHEN '20' THEN 0 ELSE dbo.montocoaseguro(rec.cnpoliza,rec.fanopol,rec.fmespol,rec.motrosdes) END) Descuentos, 
	 
	 dbo.montocoaseguro(rec.cnpoliza,rec.fanopol,rec.fmespol,rec.mprima) "Prima Neta", 
	 
	 dbo.montocoaseguro(rec.cnpoliza,rec.fanopol,rec.fmespol,rec.mimpuesto) "Impuesto"
	 
	 , rec.motrosgas "Otros Gastos",
	 
	 dbo.montocoaseguro(rec.cnpoliza,rec.fanopol,rec.fmespol,rec.mmontorec) AS Monto, 
	   
	(SELECT ccirif_fox FROM dbo.maentes WHERE cci_rif=rec.casegurado) AS Cobis, 
	
	(select xdescripcion_l from maestados e where e.cestado=pol.cestado and e.cpais=pol.cpais) [Provincia Poliza],

		 (select top 1 e.xdescripcion_l from maestados e,maentes m 
		where m.cestado=e.cestado and e.cestado=m.cestado and e.cpais=m.cpais and m.cci_rif=pol.casegurado)  [Provincia Poliza],


	nb.xngarantia AS [Nro Garantia], RTRIM((SELECT edificio FROM dbo.nbcerti WHERE  cproces=rec.cproces)) AS [Edificio],
    RTRIM((SELECT m.xdescripcion_l FROM  dbo.Maentes_ext Mx INNER JOIN dbo.macodigos m ON m.xsinonimo='TipoRiesgo' AND m.ccodigo=Mx.itiporiesgo WHERE Mx.cci_rif=rec.ctenedor)) AS [Tipo Riesgo], 
	nb.xnprestamo AS [Nro Prestamo],
	ISNULL ((SELECT RTRIM(xcliente) xcliente FROM dbo.maentes m WHERE  m.cci_rif=pol.ccorredorSeg), 'NO TIENE') [Corredor de Seguros],
	(case mra.cramoint when 34 then ISNULL ((SELECT top (1) RTRIM(xcliente) xcliente FROM dbo.maentes m,Proyectos py WHERE  m.cci_rif=py.cBeneficiario and py.cpoliza = pol.cpoliza and py.fanopol = pol.fanopol and py.fmespol = pol.fmespol and py.cproces = pol.cproces), 'NO TIENE') 
	 ELSE ISNULL ((SELECT RTRIM(xcliente) xcliente FROM dbo.maentes m WHERE  m.cci_rif=pol.cbeneficiario), 'NO TIENE') END) [Beneficiario],
	 (case mra.cramoint when 34 then ISNULL ((SELECT top (1) NombProy  from Proyectos py WHERE  py.cpoliza = pol.cpoliza and py.fanopol = pol.fanopol and py.fmespol = pol.fmespol and py.cproces = pol.cproces), 'NO TIENE') 
		ELSE '' END) [Descrip Objeto Afianzado],
	ISNULL ((SELECT RTRIM(xcliente) xcliente FROM dbo.maentes m WHERE  m.cci_rif=pol.cacreedor), 'NO TIENE') [Acreedor] , iif(@p_Ramos=31 or @p_Ramos=71,pol.xcuentabanc,'NO TIENE') as [Cuenta Cobis]
	,	    (select CASE 
		WHEN count(*) > 0 THEN 'Si' 
		ELSE 'No'
		END AS EsLider
			from COASEGURO_MAIN WHERE 
			 cnpoliza =rec.cnpoliza 
			and fmespol = rec.fmespol
			and fanopol = fanopol
	) AS Coaseguro,
	    (select CASE 
		WHEN count(*) > 0 THEN 'Si' 
		ELSE 'No'
		END AS EsLider
			from COASEGURO_MAIN WHERE ccoasegurador  = 1024111
			and itipocoaseguro = 0
			and cnpoliza =rec.cnpoliza 
			and fmespol = rec.fmespol
			and fanopol = fanopol
	) as "Es lider",
	ISNULL(canal.xdescripcion_l,'Sin Canal de Ventas') Canal

	FROM dbo.adrecibos rec
	INNER JOIN dbo.adpoliza pol ON rec.cnpoliza=pol.cnpoliza AND rec.fanopol=pol.fanopol AND rec.fmespol=pol.fmespol
	INNER JOIN  dbo.maramos mra ON mra.cramo = pol.cramo
    LEFT OUTER JOIN dbo.maplanes mpl ON rec.cramo=mpl.cramo AND rec.cplan=mpl.cplan 
    FULL OUTER JOIN dbo.macodigos AS TIPO ON rec.itiporec=TIPO.ccodigo    
    LEFT OUTER JOIN dbo.nbcerti  nb ON pol.cpoliza=nb.cpoliza AND pol.fanopol=nb.fanopol AND pol.fmespol=nb.fmespol

	LEFT JOIN macodigos canal ON canal.xsinonimo='canalv' AND canal.ccodigo=pol.cventa

    WHERE 
	(RTRIM (TIPO.xsinonimo) ='itiporec')              
    AND rec.cramo IN (@p_Ramos)
    AND rec.csucur= (CASE WHEN @p_Sucursal=0 THEN rec.csucur ELSE @p_Sucursal END)
	AND (CONVERT (VARCHAR(10), rec.fingreso, 103)>= @p_FechaInicio AND CONVERT (VARCHAR(10), rec.fingreso, 103)<= @p_FechaFinal)
    ORDER BY pol.cnpoliza, pol.fingreso;
END;